@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* custom variables */
:root {
    /* colors */
    --projectBrdrColor: rgb(96, 160, 202);
    --bckgrndColor: rgb(45, 51, 58);
    --todoBrdrColor: rgb(255, 188, 62);

    /* styles */
    --projectBorder: 1px dashed var(--projectBrdrColor);
    --projectBrdrRadius: 20px;

    /* sizes */
    --projectWidth: 500px;
}


body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    width: 100vw;
    background-color: var(--bckgrndColor);
}

/* scrollbar modifications */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bckgrndColor);
    border-left: 1px solid rgb(61, 69, 78);
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background: var(--bckgrndColor);
    border-left: 1px solid var(--projectBrdrColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(61, 69, 78);
    width: 19px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--projectBrdrColor);
}

#header {
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 50px;

    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#side-bar {
    border: 2px solid salmon;
    height: 100%;
    box-sizing: border-box;
}

#canvas-overflow {
    height: calc(100vh - 200px);
    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;
}

#canvas {
    height: fit-content;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 20px;
}

.project {
    width: var(--projectWidth);
    border: var(--projectBorder);
    border-radius: var(--projectBrdrRadius);
    background-color: var(--bckgrndColor);
}

.project-header, .project-description {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: var(--projectBorder);

    font-family: 'IBM Plex Mono', monospace;
    color: var(--projectBrdrColor);

}

.project-header {
    font-size: 30px;
    height: 80px;
}

.todo-holder {
    height: min-content;
    width: 100%;
}

.project-button-bar {
    padding: 20px;
    height: 50px;
    width: 100%;
}

.project-buttons {
    width: 50%;
    height: 45px;
}

.todo {
    height: 30px;
    margin: 0px 20px 20px 20px;
    padding: 20px 20px 0px 20px;
    border: 1px dashed var(--todoBrdrColor);
    color: var(--todoBrdrColor);
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 10px;
}


