@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    width: 100vw;
    background-color: rgb(45, 51, 58);
}

/* scrollbar modifications */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(45, 51, 58);
    border-left: 1px solid rgb(61, 69, 78);
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background: rgb(45, 51, 58);
    border-left: 1px solid rgb(96, 160, 202);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(61, 69, 78);
    width: 19px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(96, 160, 202);
}

#header {
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 50px;

    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#side-bar {
    border: 2px solid salmon;
    height: 100%;
    box-sizing: border-box;
}

#canvas-overflow {
    height: calc(100vh - 200px);
    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;
}

#canvas {
    height: fit-content;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 20px;
}

.project-collapsed {
    width: 500px;
    border: 1px dashed rgb(96, 160, 202);
    border-radius: 20px;
    height: min-content;
}

.project-header, .project-description {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px dashed rgb(96, 160, 202);

    font-family: 'IBM Plex Mono', monospace;
    color: rgb(96, 160, 202);

}

.project-header {
    font-size: 30px;
    height: 80px;
}

.todo-collapsed {
    margin: 20px;
    padding: 20px;
    border: 1px dashed rgb(255, 188, 62);
    color: rgb(255, 188, 62);
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 10px;
}


